<div class="w-full">
    <label for="fileInput"
        class="block w-full p-10 border-2 border-dashed border-gray-400 rounded-md cursor-pointer text-center hover:bg-gray-100 mb-4">
        <span class="text-gray-800">Drag and drop or browse files</span>
        <input id="fileInput"  type="file" (change)="onFilesSelected($event)" multiple hidden>
    </label>
    <app-images-preview [images]="images" (delete)="onDelete($event)" (moveUp)="onMoveUp($event)"
        (moveDown)="onMoveDown($event)">
    </app-images-preview>
</div>