<header class="flex flex-grow flex-col items-center mx-auto rounded-md sm:px-6 pb-4 relative">
    <div class="w-full flex items-center justify-between bg-white">
        <a routerLink="./raffle_dashboard.html">
            <img src="../assets/images/logo.svg" alt="Logo" class="w-64 sm:w-64 md:w-72 lg:w-80  object-contain" />
        </a>
        <div class="hidden md:flex items-center gap-5 pe-8">
            <a class="text-lg font-semibold text-gray-800 hover:text-[#3B82F6] transition-colors cursor-pointer">Más
                sorteos</a>
            <a
                class="text-lg font-semibold text-gray-800 hover:text-[#3B82F6] transition-colors cursor-pointer">Conócenos</a>
            <a
                class="text-lg font-semibold text-gray-800 hover:text-[#3B82F6] transition-colors cursor-pointer">Contacto</a>
            <div class="flex items-center justify-center px-4 cursor-pointer">
                <svg viewBox="0 0 24 24" width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <circle cx="12" cy="9" r="3" stroke="#1f2937" stroke-width="1.5"></circle>
                        <path d="M17.9691 20C17.81 17.1085 16.9247 15 11.9999 15C7.07521 15 6.18991 17.1085 6.03076 20"
                            stroke="#1f2937" stroke-width="1.5" stroke-linecap="round"></path>
                        <path
                            d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7"
                            stroke="#1f2937" stroke-width="1.5" stroke-linecap="round"></path>
                    </g>
                </svg>
            </div>
        </div>
        <!-- Botón de menú de hamburguesa -->
        <button (click)="toggleMenu()" class="md:hidden flex items-center p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 text-gray-800" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>
    </div>
    <!-- Menú desplegable -->
    @if (isMenuOpen) {
    <div class="absolute top-full left-0 w-full bg-white p-4 flex flex-col items-center gap-3 shadow-lg z-10 md:hidden">
        <a class="text-lg font-semibold text-gray-800 hover:text-[#3B82F6] transition-colors">Más sorteos</a>
        <a class="text-lg font-semibold text-gray-800 hover:text-[#3B82F6] transition-colors">Conócenos</a>
        <a class="text-lg font-semibold text-gray-800 hover:text-[#3B82F6] transition-colors">Contacto</a>
    </div>
    }
</header>