<div class="flex flex-col items-center w-full">
    @if (images) {
    @for (image of images; track image; let i = $index) {
    <div
        class="flex flex-col md:flex-row items-center justify-between w-full max-w-full p-4 bg-gray-100 rounded-md shadow-sm hover:shadow-lg transition-shadow duration-300 mb-4">
        <img [src]="image.url" alt="Selected Image" class="w-full md:w-32 h-auto rounded-md" />
        <div class="flex items-center gap-4 mt-4 md:mt-0">
            <button type="button" (click)="onMoveUp(i)" aria-label="Move up" class="p-1">
                <svg class="w-6 h-6 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                    stroke-linecap="round" stroke-linejoin="miter">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="16 14 12 9 8 14"></polyline>
                </svg>
            </button>
            <button type="button" (click)="onDelete(i)" aria-label="Delete" class="p-1">
                <svg class="w-6 h-6 text-gray-700" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.5 6H3.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    <path
                        d="M18.833 8.5L18.373 15.3991C18.196 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.047 21 12.387 21H11.613C8.952 21 7.622 21 6.757 20.1907C5.892 19.3815 5.803 18.054 5.626 15.3991L5.167 8.5"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    <path d="M9.5 11L10 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    <path d="M14.5 11L14 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                    <path
                        d="M6.5 6C6.556 6 6.584 6 6.609 5.999C7.433 5.978 8.159 5.455 8.439 4.68C8.448 4.656 8.457 4.63 8.474 4.577L8.571 4.286C8.654 4.037 8.696 3.913 8.751 3.807C8.97 3.386 9.376 3.094 9.845 3.019C9.962 3 10.093 3 10.355 3H13.645C13.907 3 14.038 3 14.155 3.019C14.624 3.094 15.03 3.386 15.249 3.807C15.304 3.913 15.346 4.037 15.429 4.286L15.526 4.577C15.543 4.63 15.552 4.656 15.561 4.68C15.841 5.455 16.567 5.978 17.391 5.999C17.416 6 17.444 6 17.5 6"
                        stroke="currentColor" stroke-width="1.5" />
                </svg>
            </button>
            <button type="button" (click)="onMoveDown(i)" aria-label="Move down" class="p-1">
                <svg class="w-6 h-6 text-black" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                    stroke-linecap="round" stroke-linejoin="miter">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="8 10 12 15 16 10"></polyline>
                </svg>
            </button>
        </div>
    </div>
    }
    }
</div>