<div class="mb-4">
    <h4 class="text-start font-bolder text-gray-800 mb-2">
        Introduce un número del {{raffle.firstTicketNumber}} al {{getLastTicket()}}
    </h4>
    <div class="flex flex-col gap-2 items-stretch sm:flex-row sm:items-center w-full">
        <div class="flex-grow relative">
            <input type="text"
                class="w-full py-4 px-6 text-base border border-black rounded focus:outline-none focus:ring-2 focus:ring-purple-500"
                placeholder="Busca tu número..." [ngClass]="{'invalid-input': invalidInput}"
                [formControl]="searchControl" />
            <app-search-results [display]="display" [tickets]="searchResults"
                (selectedTicket)="selectTicket($event)"></app-search-results>
        </div>
        <div class="flex-none w-full sm:w-auto sm:ml-2">
            <app-select-btn [invalid]="invalidInput" [raffleId]="raffle.id" [ticket]="selectedTicket"
                (ticketReserved)="closeReservation()"></app-select-btn>
        </div>
    </div>
</div>