@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */

body {
/* Body Styling */
    font-family: "Poppins", sans-serif;
}


/* Container Styling */
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    text-align: center;
    width: 100%;
    max-width: 1720px;
    /* Max width for large devices */
    margin: 20px auto 0;
    flex-grow: 1;
    /* Allow the container to grow and fill available space */
}

.font-semibold {
    font-weight: 600;
}

.hidden {
    display: hidden;
}

.logo {
    width: 80px;
    height: auto;
    object-fit: contain;
    margin: auto;
}

.relative {
    position: relative;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
}

.text-black-stroke {
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.black-outline {
    color: white;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

@media (max-width: 1200px) {
    .container,
    .section-title {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .container,
    .admin-logo-text {
        font-size: 16px;
    }

    .admin-header-logo {
        height: 36px;
        width: 36px;
    }
}

@media (max-width: 768px) {
    .admin-logo-text {
        display: none;
    }

    .admin-nav-link {
        font-size: 14px;
        margin-left: 10px;
    }

    .logout-btn {
        padding: 6px 12px;
        margin-left: 0px;
    }

    .logout-icon {
        width: 16px;
        height: 16px;
    }

    .admin-header-logo {
        height: 32px;
        width: 32px;
    }

    .section-title {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .container,
    footer p {
        font-size: 12px;
    }

    .page-title {
        font-size: 20px;
    }

    .btn {
        padding: 10px 15px;
        font-size: 14px;
    }

    .form {
        gap: 15px;
    }

    .btn {
        padding: 10px 15px;
        font-size: 14px;
    }

    .admin-header-logo {
        height: 32px;
        width: 32px;
    }

    .logo {
        width: 40px;
    }

    .section-title {
        font-size: 14px;
    }
}