@if (description) {
<div class="px-6 py-4 text-start">
    <div class="w-full lg:w-3/4 flex flex-col gap-4">
        <h2 class="text-xl sm:text-2xl lg:text-2xl font-bold leading-snug text-gray-700 mb-2">
            Información del sorteo
        </h2>
        <div class="relative">
            <p [ngClass]="{ 'line-clamp-3': !showFullDescription }" class="transition-all duration-300 ease-in-out">
                {{ description }}
            </p>
            @if (!showFullDescription) {
            <div
                class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-white to-transparent h-8 pointer-events-none">
            </div>
            }
        </div>
        <button (click)="toggleDescription()" class="text-blue-500 hover:underline cursor-pointer z-10">
            {{ showFullDescription ? 'Mostrar menos' : 'Seguir leyendo' }}
        </button>
    </div>
</div>
}