@if (raffle) {
<div class="container">
    <app-header></app-header>

    <div class="border-t border-gray-200 sm:mx-8 mb-4"></div>

    <main class="mx-auto py-4 flex flex-col md:flex-row gap-8 md:gap-4 lg:gap-0">

        <div class="w-full md:w-1/2">
            <app-client-images [images]="raffle.images"></app-client-images>
        </div>

        <div class="md:w-1/2">
            <div class="mb-5 w-full">
                <app-raffle-heading [title]="raffle.title" [price]="raffle.ticketPrice"
                    [status]="raffle.status"></app-raffle-heading>
            </div>

            <div class="border-t border-gray-200 sm:mx-8 mb-4"></div>

            <div class="mb-5 w-full">

                <app-tickets-handler [raffle]="raffle"
                    (updateAvailability)="updateAvailableTickets()"></app-tickets-handler>
            </div>
            
            <div class="border-t border-gray-200 sm:mx-8 mb-4"></div>

            <div class="mb-5 w-full">
                <app-raffle-description [description]="raffle.description"></app-raffle-description>
            </div>

            <app-cart [ticketPrice]="raffle.ticketPrice"></app-cart>
        </div>
    </main>

    <div class="border-t border-gray-200 sm:mx-8 mb-4"></div>

    <app-footer></app-footer>

</div>
}