<table class="table-auto w-full text-gray-700">

    <thead class="border-b font-bold text-left">
        <tr>
            <th class="py-2">Número de ticket</th>
            <th class="py-2 text-right">Precio</th>
            <th class="py-2 text-center">Eliminar</th>
        </tr>
    </thead>

    <tbody class="max-h-[80%] overflow-y-auto">
        @if (tickets && tickets.length > 0) {
        @for (ticket of tickets; track ticket;) {
                <app-cart-item class="table-row w-full" [ticket]="ticket"></app-cart-item>
        }
        <tr class="border-t font-bold">
            <td class="py-2 text-left">Total</td>
            <td class="py-2 text-right">{{ total }}</td>
            <td class="py-2 text-center">
                <button class="text-red-500 cursor-pointer" (click)="removeAll()">Eliminar todos</button>
            </td>
        </tr>
        } @else {
        <tr>
            <td>
                <p class="py-2 text-start text-bolder">No has seleccionado ningún ticket</p>
            </td>
        </tr>
        }
    </tbody>
</table>