<div class="w-full flex justify-center items-center">
    <div
        class="container flex flex-col justify-center items-center bg-white rounded-md shadow-md border border-gray-200 text-center p-8 lg:max-w-lg xl:max-w-xl">

        <div class="w-full bg-blue-500 text-white rounded-md p-5 mb-8">
            <h1 class="text-xl md:text-lg font-bold m-0">¡Compra completada con éxito!</h1>
        </div>

        <div class="p-5">
            <div class="text-7xl md:text-6xl sm:text-5xl mb-8">✨</div>
            <h2 class="text-lg md:text-base sm:text-sm text-blue-500 font-bold mb-4">¡Gracias por tu compra!</h2>
            <p class="text-base sm:text-sm leading-relaxed">
                Hemos enviado los detalles de tu pedido a tu correo electrónico.
            </p>
            <p class="text-base sm:text-sm leading-relaxed mb-4">
                Si tienes alguna pregunta, no dudes en contactarnos.
            </p>
            <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-4"
                (click)="redirect()">Volver al sorteo</button>
        </div>

        <div class="p-5 text-gray-500 text-sm">
            <p>Si tienes alguna duda, por favor contáctanos en <a href="mailto:soporte@tuaplicacion.com"
                    class="text-blue-500 hover:underline">contacto&#64;raffleease.com</a>.
            </p>
            <p>© 2024 Raffleease. Todos los derechos reservados.</p>
        </div>
    </div>
</div>