<div class="p-6">
    <div
        class="w-full bg-gradient-to-r from-gray-100 to-gray-200 rounded-md shadow-lg hover:shadow-xl hover:scale-[1.02] transition-all duration-300">
        <div class="relative bg-gradient-to-b from-gray-200 to-gray-300">
            <img [src]="raffle.images[0].url" alt="Sample Raffle" class="w-full aspect-[1/1] rounded-lg object-cover" />
            <span
                class="absolute bottom-2 right-2 px-3 py-1 font-bold text-white bg-gradient-to-r from-blue-400 to-blue-500 rounded-md text-sm shadow-md">
                {{ raffle.ticketPrice }}
            </span>
        </div>
        <div class="pt-8 py-4 px-8 relative">
            <div class="absolute top-4 left-4 -translate-y-1/2">
                <app-status-circle [status]="raffle.status" [blackOutline]="true" [iconSize]="12" [textSize]="14">
                </app-status-circle>
            </div>
            <h3 class="text-xl font-semibold text-gray-800 mb-2">{{ raffle.title }}</h3>
            <div class="text-sm text-gray-600 space-y-1 text-left mb-4">
                <p><span class="font-bold">Fecha inicio:</span> {{ startDate }}</p>
                <p><span class="font-bold">Fecha fin:</span> {{ endDate }}</p>
            </div>
            <div class="flex justify-center">
                <button (click)="openRaffle(raffle.id)"
                    class="px-6 py-2 font-medium text-white bg-blue-500 hover:bg-blue-600 rounded-md shadow-md hover:shadow-lg transition-all duration-200">
                    Ver detalles
                </button>
            </div>
        </div>
    </div>
</div>