<div class="w-full md:px-6 py-2 sm:py-4">
    <div class="max-w-5xl mx-auto text-left">
        <h1 class="text-3xl sm:text-5xl md:text-3xl lg:text-5xl font-extrabold leading-tight text-gray-800">
            {{ title }}
        </h1>
        <p class="mt-4 text-xl sm:text-3xl md:text-xl lg:text-3xl text-gray-700">
            ¡ Participa por sólo
            <span class="font-semibold text-blue-500 text-2xl md:text-2xl lg:text-3xl">
                {{ price }} €
            </span>!
        </p>
    </div>
</div>