<a routerLink="/admin/create"
    class="absolute bottom-8 right-8 bg-white rounded-full p-3 shadow-lg border-2 border-gray-100 z-50 w-20 h-20 transition hover:bg-green-700 group"
    aria-label="Add New Raffle" title="Go to add new raffle page">
    <div class="w-full h-full flex items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full group-hover:stroke-white" viewBox="0 0 24 24"
            stroke-width="2" fill="none" stroke="#008001" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M5 12l14 0" />
        </svg>
    </div>
</a>