<div class="w-full flex justify-center items-center">
    <div
        class="container flex flex-col justify-center items-center bg-white rounded-md shadow-md border border-gray-200 text-center p-8 lg:max-w-lg xl:max-w-xl">
        <div class="w-full bg-blue-500 text-white rounded-md p-5 mb-4">
            <h1 class="text-xl md:text-lg font-bold">404 - Página no encontrada</h1>
        </div>

        <div class="p-5">
            <div class="text-7xl md:text-6xl sm:text-5xl mb-8">😵</div>
            <h2 class="text-lg md:text-base sm:text-sm text-blue-500 font-bold mb-3">¡Oh no! Algo salió mal.</h2>
            <p class="text-base sm:text-sm leading-relaxed">
                Parece que la página que estás buscando no existe o ha sido movida.
            </p>
        </div>
    </div>
</div>