<header class="flex flex-grow flex-col items-center mx-auto rounded-md py-6 sm:px-6 md:px-8 lg:px-12 relative">
    <div class="w-full flex items-center justify-between bg-white">
        <a routerLink="/admin/panel">
            <img src="../assets/images/logo.svg" alt="Logo" class="w-64 sm:w-64 md:w-72 lg:w-80  object-contain" />
        </a>

        <div class="hidden sm:flex items-center gap-6">
            <button (click)="logout()"
                class="bg-blue-500 text-white leading-[1em] p-4 px-6 rounded-md transition duration-300 ease-in-out uppercase tracking-[0.08em] flex items-center justify-center gap-4 hover:shadow-lg hover:scale-105">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout-2" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                    <path d="M15 12h-12l3 -3" />
                    <path d="M6 15l-3 -3" />
                </svg>
                <span class="hidden sm:block font-bolder">Cerrar sesión</span>
            </button>
        </div>
    </div>
</header>