<div class="mb-4">
    <h4 class="text-start font-bolder text-gray-800 mb-2">Escoge al azar</h4>
    <div class="flex flex-col gap-2 items-stretch sm:flex-row sm:items-center w-full">
        <div class="flex-grow">
            <app-quantity-controls [availableTickets]="raffle.availableTickets" [(reset)]="reset"
                (quantityChange)="setQuantity($event)" (invalidChange)="setInvalid($event)">
            </app-quantity-controls>
        </div>
        <div class="flex-none w-full sm:w-auto sm:ml-2">
            <app-search-btn [quantity]="quantity" [raffleId]="raffle.id" [invalid]="invalid"
                (ticketsReserved)="closeReservation()">
            </app-search-btn>
        </div>
    </div>
</div>