<div class="relative px-8">
    <div class="flex flex-wrap justify-between items-center py-4 px-2">
        <h2 class="text-3xl font-bold text-gray-800 tracking-tight mb-2">Panel de Control</h2>

        <div class="flex items-center justify-between flex-wrap gap-2 md:gap-4">
            <div>
                <app-status-circle [status]="'PENDING'"></app-status-circle>
            </div>
            <div>
                <app-status-circle [status]="'ACTIVE'"></app-status-circle>
            </div>
            <div>
                <app-status-circle [status]="'COMPLETED'"></app-status-circle>
            </div>
            <div>
                <app-status-circle [status]="'PAUSED'"></app-status-circle>
            </div>
        </div>
    </div>

    <!-- Raffle List -->
    <section class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        @if (raffles && images) {
        @for (raffle of raffles; track raffle.id) {
        <app-raffle-card [raffle]="raffle" [images]="images.get(raffle.id) ?? []"></app-raffle-card>
        }
        } @else {
        <div class="text-center text-gray-500 mt-5">
            <p>No se encontró ningún sorteo</p>
        </div>
        }
    </section>
</div>

<app-floating-add-btn></app-floating-add-btn>
