<div class="bg-white w-full max-w-4xl p-8 rounded-md shadow-md">
    <h1 class="text-2xl font-bold mb-6 text-center">Registro</h1>

    <div class="mb-4">
        <app-register-form (registerRequest)="register($event)" [validationErrors]="validationErrors"
            [serverError]="serverError"></app-register-form>
    </div>

    <div class="text-center">
        <p class="text-sm">
            <a routerLink="/admin/auth/login" class="font-medium text-blue-500 hover:underline">Volver a login</a>
        </p>
    </div>
</div>